---
import Header from "../components/Navbar/Header.astro";
import Base from "../layout/Base.astro"
---

<Base title="Portafolio | Diego Duran">
    <div class="w-full h-screen bg-slate-950">
        <Header aboutMe={false}/> 
    </div>
</Base>
