---
import Navigation from "./Navigation.astro";
const {inicio, portafolio, aboutMe} = Astro.props;
---

<header transition:name="navbar">
    <nav>
        <Navigation inicio={inicio} portafolio={portafolio} aboutMe={aboutMe} />
    </nav>
</header>