<section class="w-full flex justify-center items-center p-10 about bg-gradient-to-t from-gray-900 via-sky-900 to-slate-900">
    <div class="w-1/2 flex gap-5">
        <div class="w-1/2 flex flex-col gap-3 justify-center">
            <h2 class="font-bold text-3xl">Sobre mi <span class="animate-pulse">🐱‍👤</span></h2>
            <p class="text-lg">¡Hey, ¿qué tal?! Mi nombre es Diego, tengo 17 años, llevo cerca de <span class="bg-yellow-800">4 años en el mundo de la programación</span>, arranqué programando <span class="bg-[#7289da]">bots de Discord</span> de forma autodidacta, luego conocí la <span class="bg-[#FF356C]">Misión Tic</span> la cual me formó para el campo del Full-Stack y de ahí en adelante sigo formandome en el <span class="bg-[#21894B]">SENA</span> en el Tecnólogo en Análisis y Desarrollo de Sofware :)</p>
        </div>
        <div class="w-1/2">
            <img src="https://i.pinimg.com/originals/15/b8/6c/15b86c9d72bf04495a4beffe1baa34cd.gif" alt="" class="rounded-lg shadow">
        </div>
    </div>
</section>

<style>
    section.about {
        height: calc(100% - 384px);
    }
</style>